
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.contentFirst{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),
    url("https://3drive.ru/uploads/articles/2018/10/strahovanie-na-segodnyashnij-den-odno-iz-samyh-glavnyh-trebovanij-k-avto.jpg") ;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:  center;
    background-size: cover;
    background-attachment: fixed;

}

.nav-main{
    position: fixed;
    width: 100vw;
}

a.nav-link{
    font-weight: 600;
}

.title-primary{
    color: white;
    font-size: 3em;
}

.title-block{

    padding: 0.5em;
    background: sandybrown;
    margin-top: 1em;
}

.title-primary.description{
    font-size: 2em;
    color: #000000;

}

.description-block{
    margin-top: 1em;
    background: #d2cec7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText{
    color: white;
}


/*Footer*/
/*------------------------------------*/
.footer{
    min-width: 100vw;
    bottom: 0;
    left: 0;
}
.form{
    margin: 40px 20px;
}
.formLogo{
    width: 100%;
    text-align: center;
    max-width: 900px;
}
.form-control{
    max-width: 900px;
}


