
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.contentFirst{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-image: url("public/images/back2.jpg");
    min-height: 30vh;
}

.nav-main{
    position: fixed;
    width: 100vw;
}

a.nav-link{
    font-weight: 600;
}

.title-primary{
    color: white;
    font-size: 3em;
}

.title-block{

    padding: 0.5em;
    background: sandybrown;
    margin-top: 1em;
}

.title-primary.description{
    font-size: 2em;
    color: #000000;

}

.description-block{
    margin-top: 1em;
    background: #d2cec7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText{
color: white;
}


/*Footer*/
/*------------------------------------*/
.footer{
    min-width: 100vw;
    bottom: 0;
    left: 0;
}

